@import "../../color_style.scss";

.login_pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 100vh;
}
.pagesLeft {
  display: flex;
  flex-direction: column;
  gap: 4.38rem;
  align-items: center;
  justify-content: center;
  max-width: 31.25rem;
  width: 100%;
  h2 {
    font-size: 1.75rem;
    line-height: 150%;
    color: $color-black;
  }
  form {
    width: 100%;
    display: flex;
    gap: 3.12rem;
    flex-direction: column;
    .inputForm {
      box-sizing: border-box;
      display: flex;
      border-radius: 0.625rem;
      border: 1px solid $color-4dark-green;
      justify-content: center;
      width: 100%;
      height: 3.75rem;
      align-items: center;
      font-size: 1.375rem;
      &::placeholder {
        color: $color-4dark-green;
      }
      &:focus {
        border: 1px solid #3c6255;
        outline: none;
      }
    }
    div {
      display: flex;
    }
  }
  button {
    display: flex;
    width: 100%;
    height: 3.75rem;
    background: $color_white;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 2px solid $color-4dark-green;
  }
}
.pagesMedium {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  span {
  }
  hr {
    height: 18.75rem;
    width: 1px;
    margin: 0;
    padding: 0;
    background-color: $color-3green;
    box-sizing: border-box;
    transform: rotateZ(360deg);
  }
}
.pagesRight {
  display: flex;
  flex-direction: column;
  gap: 4.38rem;
  width: 100%;
  max-width: 31.25rem;
  h5 {
    font-size: 1.75rem;
    line-height: 150%;
  }
  a {
    font-size: 1rem;
    line-height: 150%;
    color: $color-3green;
    text-decoration: none;
  }
}
