@import "src/ColorStyle.scss";

.inputForm {
  width: 100%;

  div {
    border-radius: 10px;
    height: 60px;
    &:hover {
      fieldset {
        border-style: solid;
        border-width: 2px;
      }
    }
  }
  label {
    // placeholder
    border-color: $colorDarkGreen;
  }
  fieldset {
    border: 2px solid $colorDarkGreen;
    &:hover {
      color: $colorError;
    }
  }
}

.p {
  margin-top: 6.5px;
  color: $colorError;
  font-size: 0.75rem;
  position: absolute;
}
