@import "./../../ColorStyle.scss";
@import "./../../allStyles.scss";

.filter {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 33px 0;
}
.buttonSubmit {
  @include buttonTwo;
  background-color: $color0;
  width: 214px;
  height: 66px;
  font-size: 1rem;
}

.button {
  min-height: 60px;
  display: flex;
  padding: 0 30px;
  border-radius: 10px;
  border: 2px solid $colorDarkGreen;
  align-items: center;
}
