@import "./../../ColorStyle.scss";
@import "./../../allStyles.scss";

.all {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  background-color: white;

  .h2 {
    text-align: center;
    margin-top: 50px;
  }
  .errors {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .wrapperButton {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;

    .button {
      @include button;
      background-color: $colorBlur;
      border: 1px;
      max-width: 400px;
    }
  }
}
