@import "./../../ColorStyle.scss";
@import "./../../allStyles.scss";

.xxx {
  display: none;
}

.header {
  max-width: 1268px;
  padding: 0px 25px;
  margin: 70px auto 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // gap: 95px;
  justify-content: space-between;
}
.container {
  box-sizing: border-box;
  height: 700px;
  max-width: 1268px;
  margin: 40px auto 0 auto;
  padding: 0px 25px;
  border-radius: 20px;
  // background-color: $colorBase;
}

.h2Name {
  font-size: 1.75rem;
  line-height: 150%; /* 42px */
}
.search {
  display: flex;

  .inputSearch {
    box-sizing: border-box;
    display: flex;
    width: 500px;
    height: 60px;
    padding: 20px;
    color: $colorDarkGreen;
    font-size: 1.375rem;
    line-height: 150%;
    align-items: center;
    border-radius: 10px;
    border: 1px solid $colorDarkGreen;
    &::placeholder {
      color: $colorDarkGreen;
      font-size: 1.375rem;
      line-height: 150%;
    }

    &:focus-visible {
      box-sizing: border-box;
      border: 1px solid $colorDarkGreen;
      outline: 0;
    }
  }
  .buttonSearch {
    margin-left: -44px;
    border: 0;
    padding: 0 20px 0 0;
    background-color: $color0;
    cursor: pointer;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.textA {
  font-size: 1.125rem;
  line-height: 150%;
  text-decoration: none;
  color: $colorBlack;
  white-space: nowrap;
}

.buttonAdd {
  max-width: 210px;
  font-size: 1.125rem;
  line-height: 150%;
  text-decoration: none;
  color: $colorBlack;
  white-space: nowrap;
  @include buttonOne;
}
.buttonExit {
  @include buttonTwo;
  width: 115px;
  margin-left: 30px;
  &:hover{
    border-width: 1px;
  }
}
