@import "./../../ColorStyle.scss";

.header {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 95px;
}

.h2Name {
  font-size: 1.75rem;
  line-height: 150%; /* 42px */
}
.search {
  display: flex;

  .inputSearch {
    box-sizing: border-box;
    display: flex;
    width: 500px;
    height: 60px;
    padding: 20px;
    color: $colorDarkGreen;
    font-size: 1.375rem;
    line-height: 150%;
    align-items: center;
    border-radius: 10px;
    border: 1px solid $colorDarkGreen;
    &::placeholder {
      color: $colorDarkGreen;
      font-size: 1.375rem;
      line-height: 150%;
    }

    &:focus-visible {
      box-sizing: border-box;
      border: 1px solid $colorDarkGreen;
      outline: 0;
    }
  }
  .buttonSearch {
    margin-left: -44px;
    border: 0;
    padding: 0 20px 0 0;
    background-color: $color0;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.textA {
  font-size: 1.125rem;
  line-height: 150%;
  text-decoration: none;
  color: $colorBlack;
}
.button {
  min-height: 60px;
  display: flex;
  padding: 0 30px ;
  border-radius: 10px;
  border: 2px solid $colorDarkGreen;
  align-items: center;
}
.buttonAdd {
  background: $colorBlur;
}
.buttonExit {
  margin-left: 30px;
  background-color: $color0;
}
