@import "../../ColorStyle.scss";
.text {
  min-width: 160px;
  color: $colorBlack;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%; /* 27px */
}
.wrapper {
  display: flex;
  color: rgba(30, 167, 30, 0.964);
  .description {
    height: 200px;
    resize: none;
  }
}

.svg {
  svg {
    fill: black;
    width: 30px;
    height: 21px;
  }
}
.select {
  div {
    :nth-child(2) {
      font-size: 1.375rem;
      color: $colorDarkGreen;
    }
  }
}

.inputStorageAdd {
  display: flex;
  width: 430px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  border: 1px solid $colorDarkGrey;
  &::placeholder {
    text-align: center;
    color: $colorDarkGrey;
    line-height: 150%; /* 24px */
    font-size: 1.25rem;
  }
  &:hover {
    border-color: $colorDarkGrey;
  }
  &:focus {
    border-color: $colorDarkGrey;
  }
}

.buttonStorageAdd {
  display: flex;
  font-size: 1.25rem;
  width: 60px;
  height: 60px;
  padding: 22px 30px 24px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid $colorDarkGrey;
}
.wrapperStorageAdd {
  gap: 0 !important;
}
