@import "../../color_style.scss";

.pagesRight {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 100%;
  max-width: 500px;
  h5 {
    font-size: 1.75rem;
    line-height: 150%;
  }
  a {
    font-size: 1rem;

    color: $color-3green;
    text-decoration: none;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 50px;
    button {
      box-sizing: border-box;
      height: 60px;
      background-color: $color0;
      padding: 20px;
      border-radius: 10px;
      border: 2px solid $color-4dark-green;
      color: $color-4dark-green;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
