@import "../../ColorStyle.scss";
@import "../../allStyles.scss";

.wrapperModal {
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  width: 470px;
  height: 285px;
  position: relative;
  padding: 50px 90px 60px 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  img {
    position: absolute;
    top: 20px;
    right: 20px;
    @include icon;
  }
  .buttonModal {
    display: flex;
    justify-content: space-between;

    button {
      &:first-of-type {
        @include buttonOne;
        width: 90px;
        height: 50px;
      }
      &:last-of-type {
        @include buttonTwo;
        width: 90px;
        height: 50px;
      }
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  margin: 70px 0 0 65px;
  .miniWrapper {
    display: flex;
    column-gap: 100px;
    .title {
      display: block;
      width: 160px;
      color: $colorBlack;
      font-size: 1.125rem;
      font-weight: 600;
    }
    .miniTitle {
      font-size: 0.75rem;
      color: $colorDarkGrey;
    }
    .input {
      outline: none;
      color: #00000040;
      box-sizing: border-box;
      border-radius: 10px;
      width: 500px;
      padding: 0 11px;
      height: 64px;
      color: $colorDarkGreen;
      font-size: 1.375rem;
      border: 1px solid #3c6255;
      &:focus {
        border: 2px solid #3c6255;
      }
    }
    .textarea {
      outline: none;
      color: #00000040;
      box-sizing: border-box;
      border-radius: 10px;
      width: 500px;
      color: $colorDarkGreen;
      padding: 10px 11px;
      height: 200px;
      font-size: 1.375rem;
      resize: none;
      border: 1px solid #3c6255;
      &:focus {
        border: 2px solid #3c6255;
      }
    }
  }
  .buttonTest {
    max-width: 500px;
    @include buttonOne;
  }
}
