@import "./../../ColorStyle.scss";
@import "./../../allStyles.scss";
.firstWrapper {
  @include modalPopUp;
}
.section {
  display: flex;
  flex-direction: column;
  max-height: 440px;
  overflow-y: auto;
  border-radius: 10px;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.wrapper {
  display: flex;
  // width: 100%;
  cursor: pointer;

  .grid {
    flex-wrap: nowrap;
    .allData {
      padding: 10px;
      border-radius: 10px;
 

      &:hover {
        background-color: $colorBlur;
      }
      display: flex;
      gap: 45px;
      :nth-child(1) {
  
        // max-width: 280px;
        width: 280px;
        display: flex;

        gap: 10px;
        // background-color: green;
        img {
          max-width: 40px;
          min-width: 40px;
        }
      
      }

      div {
        overflow: hidden;
        white-space: nowrap;

        text-overflow: ellipsis;

        width: 200px;
   
              //  min-width: 100px;
        // max-width: 280px;
        font-size: 1.375rem;
        line-height: 150%; /* 24px */
        color: $colorDarkGreen;
      }
      img {
        border-radius: 10px;
        width: 40px !important ;
        height: 40px !important ;
      }
    }
    .endData {
      padding: 10px 10px 10px 0px;
      // div {
      //   display: none;
      // }

      .allUtility {
        display: flex;
        gap: 3px;
        width: 126px;
        img {
          width: 40px;
          display: none;
          &:hover {
            border-radius: 10px;
            background-color: $colorBlur;
          }
        }
      }
    }
  }
}

.gridTitle {

  div {
    color: $colorDarkGreen;
    font-size: 16px;
    line-height: 150%; /* 24px */
    width: 100%;

    width: 200px;
    &:first-of-type {
      width: 280px;
    }
  }
  padding-left: 10px;
  display: flex;
  column-gap: 45px;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  color: $colorDarkGreen;
  font-size: 1rem;
  line-height: 150%; /* 24px */
}
