@import "./../../ColorStyle.scss";
@import "./../../allStyles.scss";
.firstWrapper{
  @include modalPopUp;
}
.wrapper {
  display: flex;
  width: 100%;
  cursor: pointer;
  .grid {
    // gap: 45px;

    .allData {
      padding: 10px;
      border-radius: 10px;
      &:hover {
        background-color: $colorBlur;
      }
      display: flex;
      gap: 45px;
      :first-of-type {
        width: 280px;
        display: flex;
        gap: 10px;
      }
      div {
        width: 200px;
        font-size: 1.375rem;
        line-height: 150%; /* 24px */
        color: $colorDarkGreen;
        display: flex;
        align-items: center;
      }
      img {
        border-radius: 10px;
        width: 40px !important ;
        height: 40px !important ;
      }
    }
    .endData {
      padding: 10px 10px 10px 0px;
      // div {
      //   display: none;
      // }

      .allUtility {
        display: flex;
        gap: 3px;
        img {
          &:hover {
            border-radius: 10px;
            background-color: $colorBlur;
          }
        }
      }
    }
  }
}

.gridTitle {
  div {
    color: $colorDarkGreen;
    font-size: 16px;
    line-height: 150%; /* 24px */
    width: 200px; 
    &:first-of-type {
        width: 280px;
    
      }

  }
  padding-left: 10px;
  display: flex;
  gap: 45px;
  margin-bottom: 15px;
  color: $colorDarkGreen;
  font-size: 1rem;
  line-height: 150%; /* 24px */
}
