@import "../../ColorStyle.scss";
.firstPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;

  background: $colorBase;

  .firstPage__leftWindow {
    background: $colorBase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstPage__rightWindow {
    background: $colorWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 7.5rem;
    .rightWindow__Form {
      display: flex;
      flex-direction: column;
      gap: 4.38rem;
      h2 {
        font-size: 1.75rem;
        line-height: 150%;
      }
      .form__buttons {
        display: flex;
        flex-direction: column;
        gap: 3.12rem;
        span {
          color: $colorBlack;
          font-size: 1.375rem;
          line-height: 150%;
        }
        .aa {
          color: $colorDarkGreen;
          text-decoration: none;
          margin-top: 1.5rem;
          font-size: 1.125rem;
          width: 100%;
          display: flex;
          max-width: 31.25rem;
          height: 3.75rem;
          justify-content: center;
          align-items: center;
          gap: 0.625rem;
          flex-shrink: 0;
          border: 0;
          border-radius: 0.625rem;
          background: $colorBlur;
        }
      }
      .a {
        text-decoration: none;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0.05rem;
        color: $colorGreen;
      }
    }
  }
}
