@import "../../ColorStyle.scss";
.text {
  min-width: 160px;
  color: $colorBlack;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%; /* 27px */
}
.wrapper {
  display: flex;
  color: rgba(30, 167, 30, 0.964);
  .description {
    height: 200px;
    resize: none;
  }
}

.svg {
  svg {
    fill: black;
    width: 30px;
    height: 21px;
  }
}
.select {
  div {
    span {
      font-size: 22px;
      &:nth-child(2) {
        color: $colorDarkGreen;
      }
    }
  }
}
