@import "./../../ColorStyle.scss";
.div {
  display: flex;
  flex-direction: row;
  .spanTitle {
    display: flex;
    justify-content: center;
    color: #00000066;
    cursor: pointer;
    width: 160px;
    font-size: 20px;
    line-height: 150%;
    background-color: $colorWhite;
    padding: 24px 0px 15px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .spanTitleActive {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 160px;
    padding: 24px 0px 15px 0px;
    font-size: 20px;
    line-height: 150%;
    font-weight: 900;
    color: $colorDarkGreen;
  }
}
