$colorWhite: #ffffff;
$colorBlur: #61876e7d;
$colorBase: #f2ffe3;
$colorBlack: #000000;
$colorDarkGreen: #3c6255;
$colorGreen: #61876e;
$colorGrey: #f0f0f0;
$colorDarkGrey: #8d8d8d;
$colorError: #d32f2f;
$color0: #ffffff00;

// $color0: #00000080;

