$color_white: #fff;
$color-3blur: rgba(97, 135, 110, 0.49);
$color-base: #f2ffe3;
$color-black: #000000;
$color-4dark-green: #3c6255;
$color-3green: #61876e;
$color-grey: #f0f0f0;
$color-dark-grey: #8D8D8D;
$color0: rgba(0, 0, 0, 0)
