$colorWhite: rgb(255, 255, 255);
$colorBlur: rgba(97, 135, 110, 0.49);
$colorBase: rgb(242, 255, 227);
$colorBlack: rgb(0, 0, 0);
$colorDarkGreen: #3c6255;
$colorGreen: rgb(97, 135, 110);
$colorGrey: rgb(240, 240, 240);
$colorDarkGrey: rgb(141, 141, 141);
$colorError: rgb(211, 47, 47);
$color0: rgba(0, 0, 0, 0);
